
body,html{
    background: #f8f8f8;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

nav ul li a{
    text-decoration: none;
    padding: 20px;
    color: gray;
}

nav ul li a:hover{
    color: white;
    background: grey;
    border-radius: 100px;
}

h1{
    text-align: center;
}

input{
    width: 95%;
    padding: 20px;
    margin-bottom: 20px;
}

label{
    color: #555;
    font-family: 'Comic Sans MS';
}

button{
    background: #555;
    color: #fff;
    padding: 20px 40px;
}
